$font-path: "../fonts/" !default;

$maxWidth: 1280px !default;
$tablet: 768px !default;

$desktop: 1024px !default;
$desktopMaxWidth: 590px !default;

$wide: 1216px !default;
$wideMaxWidth: 740px !default;
$html-font-size: 16px;

$animation-time-default: 0.4s;
$animation-mode-default: both;
$animation-name-default: fadeout;
$animation-iteration-count-default: 2;
$animation-direction-default: alternate;
$animation-delay-default: s0;
$animation-transform-origin-default: top center;

$radius: 2px;
